<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
       " >

    <!-- 扫描注解Bean -->
    <context:component-scan base-package="com.test.email"/>

    <!--如果不加这个配置会报类似这个错误：org.apache.velocity.exception.ResourceNotFoundException: Unable to find resource 'templates/test.vm'-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <!--<value>classpath:jdbc.properties</value>-->
                <value>classpath:email.properties</value>
            </list>
        </property>
    </bean>

    <!-- 邮件发送器 -->
    <bean id="mailSender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="${mail.host}" />
        <property name="username" value="${mail.username}" />
        <property name="password" value="${mail.password}" />
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="javaMailProperties">
            <props>
                <prop key="mail.smtp.auth">${mail.smtp.auth}</prop>
                <prop key="mail.smtp.port">${mail.port}</prop>
                <prop key="mail.smtp.starttls.enable">${mail.enableStartTLS}</prop>
                <prop key="mail.smtp.timeout">${mail.smtp.timeout}</prop>
            </props>
        </property>
    </bean>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <!--<property name="resourceLoaderPath" value="classpath:/templates"/>-->
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">${resource.loader}</prop>
                <prop key="class.resource.loader.class">${class.resource.loader.class}</prop>
            </props>
        </property>
    </bean>

    <!--<bean id="templateMail" class="com.tzqil.VelocityTemplateMailMessage">-->
        <!--<property name="javaMailSender" ref="mailSender"></property>-->
        <!--<property name="from" value="${mail.from}"></property>-->
        <!--<property name="encoding" value="UTF-8"></property>-->
        <!--<property name="templateLocation" value="test.vm"></property>-->
        <!--<property name="velocityEngine" ref="velocityEngine"></property>-->
        <!--<property name="title" value="wwww.blogjava.net/chenlb"></property>-->
    <!--</bean>-->
    <bean id="taskExecutor" class="org.springframework.scheduling.concurrent.ThreadPoolTaskExecutor">
        <property name="corePoolSize" value="20"/>
        <property name="maxPoolSize" value="50"/>
        <property name="queueCapacity" value="500"/>
    </bean>
</beans>