<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-3.1.xsd
        http://www.springframework.org/schema/mvc
		http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd">


    <!-- 扫描注解Bean -->
    <context:component-scan base-package="com.tangzq"/>

    <!--如果不加这个配置会报类似这个错误：org.apache.velocity.exception.ResourceNotFoundException: Unable to find resource 'templates/test.vm'-->
    <bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>

    <bean id="velocityEngine" class="org.springframework.ui.velocity.VelocityEngineFactoryBean">
        <property name="resourceLoaderPath" value="classpath:/templates"/>
        <property name="velocityProperties">
            <props>
                <prop key="resource.loader">${resource.loader}</prop>
                <prop key="class.resource.loader.class">${class.resource.loader.class}</prop>
            </props>
        </property>
    </bean>

   </beans>