<component name="ArtifactManager">
  <artifact type="exploded-war" name="spring-jersey-api-demo:war exploded">
    <output-path>$PROJECT_DIR$/target/spring-jersey-api-demo</output-path>
    <root id="root">
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="spring-jersey-api-demo" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Maven: com.sun.jersey:jersey-server:1.12" />
          <element id="library" level="project" name="Maven: asm:asm:3.1" />
          <element id="library" level="project" name="Maven: com.sun.jersey:jersey-core:1.12" />
          <element id="library" level="project" name="Maven: com.sun.jersey:jersey-client:1.12" />
          <element id="library" level="project" name="Maven: com.sun.jersey.contribs:jersey-spring:1.12" />
          <element id="library" level="project" name="Maven: com.sun.jersey:jersey-servlet:1.12" />
          <element id="library" level="project" name="Maven: org.springframework:spring-core:3.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: commons-logging:commons-logging:1.1.1" />
          <element id="library" level="project" name="Maven: org.springframework:spring-context:3.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-aop:3.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-beans:3.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-expression:3.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-web:3.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: aopalliance:aopalliance:1.0" />
          <element id="library" level="project" name="Maven: org.springframework:spring-webmvc:3.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-jdbc:3.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: org.springframework:spring-tx:3.2.6.RELEASE" />
          <element id="library" level="project" name="Maven: javax.servlet:javax.servlet-api:3.0.1" />
          <element id="library" level="project" name="Maven: javax.servlet:jstl:1.2" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-classic:1.1.1" />
          <element id="library" level="project" name="Maven: ch.qos.logback:logback-core:1.1.1" />
          <element id="library" level="project" name="Maven: org.slf4j:slf4j-api:1.7.6" />
          <element id="library" level="project" name="Maven: org.slf4j:jcl-over-slf4j:1.7.6" />
          <element id="library" level="project" name="Maven: commons-lang:commons-lang:2.6" />
          <element id="library" level="project" name="Maven: commons-io:commons-io:2.0.1" />
          <element id="library" level="project" name="Maven: commons-codec:commons-codec:1.4" />
          <element id="library" level="project" name="Maven: org.codehaus.jackson:jackson-mrbean:1.9.2" />
          <element id="library" level="project" name="Maven: org.codehaus.jackson:jackson-mapper-asl:1.9.2" />
          <element id="library" level="project" name="Maven: org.codehaus.jackson:jackson-core-asl:1.9.2" />
        </element>
      </element>
      <element id="directory" name="META-INF">
        <element id="file-copy" path="E:\TODOs\java\spring-jersey-api-demo\target/MANIFEST.MF" />
      </element>
      <element id="javaee-facet-resources" facet="spring-jersey-api-demo/web/Web" />
    </root>
  </artifact>
</component>