<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
         符号转义说明
    &lt;          < 
    &gt;          >  
    &lt;&gt;     <>
    &amp;        & 
    &apos;       '
    &quot;       "
  <![CDATA[ 这里写你的SQL或者符号 ]]> 
 -->
<mapper namespace="dao.TbcConTempMapper" > 
<!-- Result Map 数据库映射到实体类  -->
<resultMap id="tableMapToBean" type="bean.TbcConTempBean" >
	<result column="id" property="id"/>
	<result column="type" property="type"/>
	<result column="title" property="title"/>
	<result column="text" property="text"/>
	<result column="image" property="image"/>
</resultMap>

<!-- tbaleColumns  所有列 -->
<sql id="tbaleColumns">
    id,type,title,text,image
</sql>

<!-- insertParams  入库操作 -->
<sql id="insertParams">
    #{id},#{type},#{title},#{text},#{image}
</sql>
       
<!-- updateParams  更新操作 -->
<sql id="updateParams">
    type=#{type},title=#{title},text=#{text},image=#{image}
</sql>

<!-- where 条件  -->
<sql id="where">
     where 1=1
</sql>

<!-- columnKey  主键 列名称 ,视图获取不到主键 需要设置 -->
<sql id="columnKey">
     and id=#{id}
</sql>

<!-- 条件 查询  , 去掉主键列-->
<sql id="andOther">
	<trim  suffixOverrides="," >
	 	  	  	 	  	  
	    <if test="type != null and type !='' ">
		    and type =  #{type}
	    </if>
	  	 	  	  
	    <if test="title != null and title !='' ">
		    and title =  #{title}
	    </if>
	  	 	  	  
	    <if test="text != null and text !='' ">
		    and text =  #{text}
	    </if>
	  	 	  	  
	    <if test="image != null and image !='' ">
		    and image =  #{image}
	    </if>
	  	 	 
	</trim>
</sql>
   
<!-- 查询条件  包含所有列 -->
<sql id="andOtherAll">
	<trim  suffixOverrides="," >
	 	  	  
	    <if test="id != null and id !='' " >
		    and id =  #{id}
	    </if>
	  	 	  	  
	    <if test="type != null and type !='' " >
		    and type =  #{type}
	    </if>
	  	 	  	  
	    <if test="title != null and title !='' " >
		    and title =  #{title}
	    </if>
	  	 	  	  
	    <if test="text != null and text !='' " >
		    and text =  #{text}
	    </if>
	  	 	  	  
	    <if test="image != null and image !='' " >
		    and image =  #{image}
	    </if>
	  	 	 
	</trim>
</sql>

<!-- 自定义查询 -->
<sql id="sql">
   <if test="sql != null and sql !=''">
       ${sql}
   </if>
   <if test="sql == null || sql==''">
      select <include refid="tbaleColumns"/> from TbcConTemp <include refid="where"/>
   </if>
</sql>

<!-- 查询条件 -->
<sql id="queryCondition">
     <if test="queryCondition != null and queryCondition != ''">
         ${queryCondition}
     </if>
</sql>


<!-- 添加,插入记录   -->
<insert id="insert"  parameterType="bean.TbcConTempBean" >
    insert into TbcConTemp(<include refid="tbaleColumns"/>) values(<include refid="insertParams"/>);
</insert>

<!-- 添加,SQL添加   -->
<insert id="insertBySql" parameterType="java.lang.String">
    <include refid="sql"/>
</insert>

<!-- 删除,主键删除   -->
<delete id="deleteByPrimaryKey" parameterType="bean.TbcConTempBean">
    delete from TbcConTemp<include refid="where"/><include refid="columnKey"/>
</delete>

<!-- 删除,实体删除   -->
<delete id="deleteByEntity" parameterType="bean.TbcConTempBean">
    delete from TbcConTemp<include refid="where"/><include refid="andOtherAll"/>
</delete>

<!-- 删除,SQL删除   -->
<delete id="deleteBySql" parameterType="java.lang.String">
      <include refid="sql"/>
</delete>

<!-- 修改,主键更新  -->
<update id="updateByPrimaryKey" parameterType="bean.TbcConTempBean" >
	update TbcConTemp set <include refid="updateParams"/><include refid="where"/><include refid="columnKey"/>
</update>

<!-- 修改,SQL更新 -->
<update id="updateBySql" parameterType="java.lang.String">
	  <include refid="sql"/>
</update>

<!-- 查询,主键查询   -->
<select id="selectByPrimaryKey"  resultMap="tableMapToBean" parameterType="java.lang.Object">
	select <include refid="tbaleColumns"/> from TbcConTemp <include refid="where"/> <include refid="columnKey"/>
</select>

<!-- 查询,实体查询   -->
<select id="selectByEntiry"  resultMap="tableMapToBean" parameterType="bean.TbcConTempBean">
	select <include refid="tbaleColumns"/> from TbcConTemp <include refid="where"/> <include refid="andOtherAll"/>
</select>

<!-- 查询,SQL -->
<select id="selectBySql"  resultMap="tableMapToBean" parameterType="java.lang.String">
     <include refid="sql"/>
</select>
  	
<!-- 查询 ,总行数,分页 ,模型 -->
<select id="selectByModelCount" resultType="java.lang.Integer"  parameterType="bean.model.TbcConTempModel">
	select count(1) from TbcConTemp <include refid="where"/> <include refid="andOtherAll"/>
    ${pageUtil.queryCondition}
    ${pageUtil.andCondition}
</select>
  	
<!-- 查询,排序,分页,模型  -->
<select id="selectByModel" resultMap="tableMapToBean"  parameterType="bean.model.TbcConTempModel">
	select <include refid="tbaleColumns"/>from TbcConTemp<include refid="where"/><include refid="andOtherAll"/>
    ${pageUtil.queryCondition}
    ${pageUtil.andCondition}
    ${pageUtil.orderByCondition}
    ${pageUtil.limit}
</select>

<!-- 查询,总行数,Map -->
<select id="selectByMapCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(1) from TbcConTemp <include refid="where"/><include refid="andOtherAll"/>
    ${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
	<if test="orderCondition != null and queryCondition != ''" >
    	order by ${orderCondition}
    </if>
</select>
  	
<!-- 查询,参数查询,Map -->
<select id="selectByMap" resultMap="tableMapToBean"  parameterType="java.util.Map">
	select <include refid="tbaleColumns"/>from TbcConTemp <include refid="where"/><include refid="andOtherAll"/>
    ${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
	<if test="orderCondition != null and queryCondition != ''" >
    	order by ${orderCondition}
    </if>
</select>

<!-- 查询,总行数,Map分页 -->
<select id="selectByMapPagingCount" resultType="java.lang.Integer"  parameterType="java.util.Map">
	select count(0) from TbcConTemp <include refid="where"/><include refid="andOtherAll"/>
    ${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
    ${pageUtil.queryCondition}
    ${pageUtil.andCondition}
</select>

<!-- 查询,参数查询,Map分页 -->
<select id="selectByMapPaging" resultMap="tableMapToBean"  parameterType="java.util.Map">
	select <include refid="tbaleColumns"/>from TbcConTemp <include refid="where"/><include refid="andOtherAll"/>
	${queryCondition}
	<if test="andCondition !=null and andCondition !=''">
	   and ${andCondition}
	</if>
	<if test="orderCondition != null and queryCondition != ''" >
    	order by ${orderCondition}
    </if>
    ${pageUtil.queryCondition}
    ${pageUtil.andCondition}
    ${pageUtil.orderByCondition}
    ${pageUtil.limit}
</select>

<!--//////////////////////增加/////////////////////// -->
</mapper>   
