<component name="ArtifactManager">
  <artifact type="war" name="springmvc-velocity-ffmpeg-demo:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="MyServer.war">
      <element id="artifact" artifact-name="springmvc-velocity-ffmpeg-demo:war exploded" />
    </root>
  </artifact>
</component>