<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8">
    <title></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=0"/>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="format-detection" content="telephone=no">
    <style>
        h3{
            text-align: center;
        }
        img{
            FLOAT: none;
            display: block;
            width:100%;
            height:auto;
        }
        p{
            padding-left: 15px;
            padding-right: 15px;
            font-size: 12px;
            line-height: 1.5;
            text-align: left;
            margin-bottom:20px;
            text-align:left;
            color:#5b5b5b;
        }
    </style>
</head>
<body>
    ${content}
<h3>测试内容</h3>
<p>
    下周即将上线的全新图片任务提前剧透啦！快来看看是否有您拿手的好主题，赶紧准备吧！这次fotor针对不同难度级别的主题推出相应的购买价，不论您是拍照的好手想要挑战高价还是初入摄影世界的新人想要小试牛刀，都找得到自己擅长的主题！
</p>
<img src="http://img.fotor.mobi/guidance/images/3_1.jpg" alt=""/>
<p>
    下周即将上线的全新图片任务提前剧透啦！快来看看是否有您拿手的好主题，赶紧准备吧！这次fotor针对不同难度级别的主题推出相应的购买价，不论您是拍照的好手想要挑战高价还是初入摄影世界的新人想要小试牛刀，都找得到自己擅长的主题！
</p>
<img src="http://img.fotor.mobi/guidance/images/3_2.jpg" alt=""/>
<p>
    下周即将上线的全新图片任务提前剧透啦！快来看看是否有您拿手的好主题，赶紧准备吧！这次fotor针对不同难度级别的主题推出相应的购买价，不论您是拍照的好手想要挑战高价还是初入摄影世界的新人想要小试牛刀，都找得到自己擅长的主题！
</p>
</body>
</html>